*.v2
*.vsidx
*.lock
*.config
*.suo
*.2
/MinimalApi.Test/obj/Debug/net7.0/*.cs
/MinimalApi.Test/obj/Debug/net7.0/*.cache
/MinimalApi.Test/obj/Debug/net7.0/*.editorconfig
/MinimalApi.Test/obj/*.json
/MinimalApi.Test/obj/*.props
/MinimalApi.Test/obj/*.targets
/MinimalApi.Test/obj/*.cache
/src/MinimalApi.Web/bin/Debug/net7.0/*.dll
/src/MinimalApi.Web/bin/Debug/net7.0/*.json
/src/MinimalApi.Web/bin/Debug/net7.0/*.exe
/src/MinimalApi.Web/bin/Debug/net7.0/*.pdb
/src/MinimalApi.Web/obj/Debug/net7.0/*.cs
/src/MinimalApi.Web/obj/Debug/net7.0/*.cache
/src/MinimalApi.Web/obj/Debug/net7.0/*.editorconfig
/src/MinimalApi.Web/obj/Debug/net7.0/*.BuildWithSkipAnalyzers
/src/MinimalApi.Web/obj/Debug/net7.0/*.CopyComplete
/src/MinimalApi.Web/obj/Debug/net7.0/*.txt
/src/MinimalApi.Web/obj/Debug/net7.0/*.dll
/src/MinimalApi.Web/obj/Debug/net7.0/*.pdb
/src/MinimalApi.Web/obj/Debug/net7.0/*.exe
/src/MinimalApi.Web/obj/Debug/net7.0/ref/*.dll
/src/MinimalApi.Web/obj/Debug/net7.0/refint/*.dll
/src/MinimalApi.Web/obj/Debug/net7.0/*.json
/src/MinimalApi.Web/obj/Debug/net7.0/staticwebassets/*.props
/src/MinimalApi.Web/obj/*.json
/src/MinimalApi.Web/obj/*.props
/src/MinimalApi.Web/obj/*.targets
/src/MinimalApi.Web/obj/*.cache
